server:
  port: 8080
  error:
    include-message: always
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/environment_db?stringtype=unspecified
    username: env_app_user
    password: "2112"
  
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        format_sql: true
  
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

          facebook:
            client-id: ${FACEBOOK_APP_ID}
            client-secret: ${FACEBOOK_APP_SECRET}
            scope:
              - email
              - public_profile

# --- CẤU HÌNH CÁC BIẾN MÔI TRƯỜNG ---

# Fix lỗi 1: Cho Service upload
file:
  upload:
    dir: uploads

facebook:
  api:
    user-info-uri: "https://graph.facebook.com/me?fields=id,name,email,picture.type(large)"

jwt:
  secret:
    key: MjAxNS0xMDExY2h1eWVuZGVtb2JpbGUxMGRpZW0xMjM0NQ== 
  expiration:
    ms: 86400000

aqi:
  api:
    key: 5ad9ae819b67abf939f3e0d4604bd362
    base-url: https://api.openweathermap.org/data/2.5/air_pollution
    geocoding-url: https://api.openweathermap.org/geo/1.0/reverse

# Cấu hình Upload file
app:
  upload:
    dir: uploads

  security:
    google:
      client-ids: "756858259822-3vc9g8jdee93v1v4vajgo33ghao6rsib.apps.googleusercontent.com,756858259822-mvqtudhds35eq2b4h56qn16uefj615jo.apps.googleusercontent.com,756858259822-f887rof3qh7enulq6dkt5hv7d8r4lorj.apps.googleusercontent.com"
      
      # [MỚI] Lấy trong Google Console -> Credentials -> Web Client -> Client Secret
      client-secret: ${GOOGLE_CLIENT_SECRET}
      
      # [MỚI] Link Ngrok của bạn (Phải khớp 100% với code frontend và Google Console)
      redirect-uri: "https://eructative-prodeportation-nikola.ngrok-free.dev/api/auth/callback/google"
    admin-emails: "cnqmai@gmail.com"


# Cấu hình Reset Password
password:
  reset:
    expiration:
      minutes: 15
      
  frontend:
    # Link Deep Link mở App (thay link Tunnel của bạn vào đây)
    reset-password-url: "exp://ze8itke-cnqmai-8081.exp.direct/--/reset-password"
    
    # Giữ nguyên IP LAN cho Backend (Vì điện thoại bạn vẫn cần gọi về máy tính để kích hoạt /open-app)
    # Trừ khi bạn cài ngrok cho cả Spring Boot
    backend-url: "http://172.20.10.3:8080"

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    com.enviro.app: DEBUG

# --- Gemini Configuration ---
gemini:
  api-key: "AIzaSyD_5XfYoX5OBCiqeOuVH8e6ho7CmcSBwGM" 