server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/environment_db
    username: env_app_user
    password: "2112"

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
          
          # --- THÊM MỚI: Cấu hình cho Facebook ---
          facebook:
            client-id: "YOUR_FACEBOOK_APP_ID"
            client-secret: "YOUR_FACEBOOK_APP_SECRET"

# --- THÊM MỚI: Cấu hình API của Facebook ---
facebook:
  api:
    user-info-uri: "https://graph.facebook.com/me?fields=id,name,email,picture.type(large)"

# --- JWT Configuration ---
jwt:
  secret:
    key: MjAxNS0x