server:
  port: 8080
  # QUAN TRỌNG: Đặt context-path là / để không bị nhân đôi thành /api/api
  servlet:
    context-path: /

spring:
  datasource:
    # --- SỬA DÒNG NÀY ---
    # Thêm ?stringtype=unspecified vào cuối URL
    url: jdbc:postgresql://localhost:5432/environment_db?stringtype=unspecified
    # ---------------------
    username: env_app_user
    password: "2112"

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
          
          # --- Cấu hình cho Facebook ---
          facebook:
            client-id: "YOUR_FACEBOOK_APP_ID"
            client-secret: "YOUR_FACEBOOK_APP_SECRET"

# --- Cấu hình API của Facebook ---
facebook:
  api:
    user-info-uri: "https://graph.facebook.com/me?fields=id,name,email,picture.type(large)"

# --- JWT Configuration ---
jwt:
  secret:
    # Key Base64
    key: MjAxNS0xMDExY2h1eWVuZGVtb2JpbGUxMGRpZW0xMjM0NQ== 
  expiration:
    ms: 86400000

# --- AQI API Configuration (OpenWeatherMap) ---
aqi:
  api:
    # Thay thế bằng API Key thật của bạn
    key: 5ad9ae819b67abf939f3e0d4604bd362
    base-url: https://api.openweathermap.org/data/2.5/air_pollution
    geocoding-url: https://api.openweathermap.org/geo/1.0/reverse