server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/environment_db
    username: env_app_user
    password: "2112" # Đảm bảo không có khoảng trắng thừa

  jpa:
    show-sql: true
    hibernate:
      # SỬA: Đặt lại là 'none' để server khởi động và API hoạt động
      ddl-auto: none
    properties:
      hibernate:
        # PostgreSQLDialect có thể không cần thiết, nhưng an toàn hơn khi giữ lại
        dialect: org.hibernate.dialect.PostgreSQLDialect

# --- JWT Configuration ---
jwt:
  secret:
    key: MjAxNS0xMDExY2h1eWVuZGVtb2JpbGUxMGRpZW0xMjM0NQ== 
  expiration:
    ms: 86400000